.h2 {
    font-family: monospace;
    color: teal;
}

.listaDeRutas {
    overflow: auto;
    max-height: 30vh;
    margin-bottom: 1em;
    border: 0.2em solid #1894a7;
    border-radius: 0.5em;
}

.cardName {
    font-family: monospace;
}

.vid {
    width: 100%;
}

.imag {
    width: 100%;
}

.lista {
    text-decoration: none;
}

.lista:hover {
    text-decoration: none;
    color: rgb(60, 130, 143);
}

.chooseRoute{
    margin-bottom: 0.5em;
    padding: 0.3em;
    border-radius: 0.5em;
    position: relative;
    font-family: Verdana, Geneva, sans-serif;
    font-size: ºem;
    letter-spacing: 2.2px;
    word-spacing: 1.8px;
    text-decoration: none;
}

.optionRoute {
    background-color: rgba(255, 255, 255, 0.527);
    margin-bottom: 0.5em;
    padding: 0.3em;
    border-radius: 0.5em;
    position: relative;
    font-family: Verdana, Geneva, sans-serif;
    font-size: ºem;
    letter-spacing: 2.2px;
    word-spacing: 1.8px;
    text-decoration: none;
}

.optionRoute:hover {
    text-decoration: none;
    color: rgb(60, 130, 143);
    font-size: 1.15em;
    background-color: rgba(210, 245, 252, 0.719);
}

.optionRoute:active {
    color: rgb(60, 130, 143);
    font-size: 1.2em;
}

div #optionRoute {
    margin-left: 0;
}

div #optionRoute::before {
    content: "\1F4CD";
    color: teal;
    display: inline-block;
    padding-right: 34px;
    font-size: 22px;
    line-height: 30px;
    vertical-align: -4px;
    width: 15px;
}

#botonDel {
    display:none;
    float: right;
}

#botonEdi {
    display:none;
    float: left;
}

#botonCam {
    float: left;
}

.hyperspan {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}