.h2{
    font-family: monospace;
    color: teal;
}

.cardName{
    font-family: monospace;
}

.vid{
    width: 100%;
}

.imag{
    width: 100%;
}

.lista{
    color: teal;
    transition: all 0.4s ease-out;
}

.lista:hover{
    color: rgb(0,100,220);
}

#botonDel {
  display:none;
  float: right;
}
#botonEdi {
    display:none;
    float: left;
  }
  #botonCam {
    float: left;
}
/* ul {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
}

ul li::before {
    content: "\1F4CD";  
    color: teal; 
    display: inline-block; 
    padding-right: 34px;
    font-size: 22px;
    line-height: 28px;
    vertical-align: -4px;
    width: 15px;
} */
