.h2{
    font-family: monospace;
    color: teal;
}

.cardName{
    font-family: monospace;
}

video{
    width: 100%;
}

.lista{
    color: teal;
    transition: all 0.4s ease-out;
}

.lista:hover{
    color: rgb(0,100,220);
}