.addRoutePanel {
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    height: 100%;
    background: rgb(54, 54, 54);
}

.h2{
    font-family: monospace;
    color: teal;
}

.labelName{
    font-family: monospace;
    color: teal;
    font-size: x-large;
}

.labelDescription{
    font-family: monospace;
    color: teal;
    font-size: x-large;
}

.labelPhoto{
    font-family: monospace;
    color: teal;
    font-size: x-large;
}

.labelVideo{
    font-family: monospace;
    color: teal;
    font-size: x-large;
}
.labelRoute{
    font-family: monospace;
    color: teal;
    font-size: x-large;
}
