.listElement {
    list-style: none;
}

.h2{
    font-family: monospace;
    color: teal;
}

.botones {
    float: left;
    display: flex;
    justify-content: center;
    width: 100%;
}

#botonOpcion{
    margin: 0.5em;
}

.hola{
    color: #17a2b8;
}

.right{
    float: right;
}