@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

.cardWelcomeInfo {
    font-family: Verdana, Geneva, sans-serif;
    font-size: ºem;
    letter-spacing: 2.2px;
    word-spacing: 1.8px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.optionTitleInfo{
    color: #ffffff;
}

.scrollBarWelcome {
    overflow: auto;
    max-height: 42vmin;
}

.opcionYLogoWelcomeViade{
    background-color: #17a2b8;
    padding: 0.1em 0.9em;
}

.opcionYLogoWelcome:hover {
    background-color: #3c4349;
}

.opcionYLogoWelcomeViade:hover {
    background-color: #1db0c7;
}

.iconWelcome {
    margin-right: 0.8em;
    color: rgb(97, 208, 228);
}

.opcionYLogoWelcome {
    display: flex;
    align-items: center;
    padding: 0.2em 0.9em;
    background-color: #343a40;
}

.mostrar {
    background-color: #17a2b8;
}

.mostrarInfo{
    background-color: #84d3df;
}

.optionTitle, .cardWelcome {
    color: white;
}

.optionTitle {
    font-size: 1.1em;
}

.cardWelcome {
    background-color: #343a40;
}

.cardWelcomeInfo{
    background-color: #17a2b8;
}

.contenedor {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

.titulo {
    -webkit-text-stroke: 1.8px #000000;
    font-size: 3em;
    color: #25c9e2;
    font-family: 'Open Sans', sans-serif;
}

.viadeInfo{
    -webkit-text-stroke: 0.8px #000000;
    font-size: 1.4em;
    color: #25c9e2;
    font-family: 'Open Sans', sans-serif;
}

.alert {
    color: red;
}



