.leftPanel {
    position: fixed;
    top: 5em;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(54, 54, 54);
}

.panelCompleto{
    float: left;
    width: 100%;
    background:lightgrey;
    padding: 1em;
    height: 100%;
    overflow: auto;
}

.leftPanel_leftPart{
    float: left;
    width: 30%;
    background:lightgrey;
    padding: 1em;
    height: 100%;
    overflow: auto;
}


.rightPanel_mapa{
    float: right;
    width: 70%;
    height: auto;
    background: cyan;
}