.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: rgb(54, 54, 54);
}
.navBar_nav {
    display: flex;
    align-items: center;
}


.navBarLogo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 0.5em;
}

.spaceOptions {
    width: 8em;
}

.navBarOptions a, .navBarLogout a {
   color: white;
   text-decoration: none;
   font-size: 1.1em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 0.3em 2em;
}

.navBarOptions ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.navBarOptions li {
    float: left; 
}

.navBarLogout a {
    float: right;
    
}

.spaceLogout{
    width: 60em;
}


li a:hover, .navBarLogout a:hover{
    background-color: rgb(90, 91, 92);
    color:rgb(117, 227, 247);
}
