.mr-auto {
    margin: auto !important;
}

.icon {
    margin-right: 0.2em;
    color: rgb(97, 208, 228);
}

.opcionYLogo {
    display: flex;
    align-items: center;
    padding: 0em 0.9em;
}

.option, .navBarLogout .logout {
    color: white !important;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.option:hover, .navBarLogout .logout:hover {
    text-decoration: none;
    color: rgb(117, 227, 247) !important;
    font-size: 1.15em;
}

.option:active, .navBarLogout .logout:active {
    color: rgb(60, 130, 143) !important;
    font-size: 1.2em;
}

.logout {
    background: transparent;
    border: none;
    color: rgb(117, 227, 247) !important;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}